<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-ant-path" type="text/javascript"></script>
    <style>
        html, body {
            padding: 0;
            margin: 0;
        }

        #map {
            height: 90vh;
            width: 90vw;
            margin: auto;
        }
    </style>
</head>
<body>
<div id="map">
</div>
<input id="data" hidden value="{{ sheep }}"/>
<script>
  (() => {
    const dataInput = document.getElementById("data");
    const getData = () => JSON.parse(dataInput.value);
    const parseAntPath = (data) => {
      const devicePath = Object.values(data)[0];
      return devicePath.map(({lat, lng}) => ([lat, lng]))
    };

    const mapFactory = () => {
      const map = L.map('map').setView([51.054452, 3.7143995], 14);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      return map;
    };

    const init = () => {
      const map = mapFactory();
      const {antPath} = L.polyline;
      let path = antPath(parseAntPath(getData()));
      path.addTo(map);
      map.fitBounds(path.getBounds());
    };

    init();
  })()
</script>
</body>
</html>